[submodule "mybloomfilter/src/murmur3"]
	path = mybloomfilter/src/murmur3
	url = https://github.com/PeterScott/murmur3
[submodule "mybloomfilter/src/libfilter"]
	path = mybloomfilter/src/libfilter
	url = https://github.com/subru-37/libfilter
